.header{
    background-color: black;
    color: yellow;
    font-weight: bold;
    height: 80px;
    padding-top: 10px;
    box-shadow: 0 0 20px -5px white;
    text-align: center;
}

.title{
    font-size: 2rem;
    margin: 0;
}
.subTitle{
    font-size: 1.2rem;
    margin: 0;
}